body {
	font-family: Verdana,Tahoma,"DejaVu Sans",sans-serif;
	color: #201E1C;
	background-color: AntiqueWhite;
}

p {
	width: 100%;
}

table, th, td {
	border: 1px solid #CABFAF;
	border-spacing: 3px;
	table-layout:fixed;
	border-collapse: collapse;
	vertical-align: top;
}


.clear {
  clear: both;
}
